{%- if section.settings.show_bar -%}
<div class="announcement-bar">
  {{ section.settings.text }}
</div>
{%- endif -%}

{% schema %}
{
  "name": "Barre d'annonce",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_bar",
      "label": "Afficher la barre",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Texte",
      "default": "✦ Livraison gratuite dans tout le Maroc — Paiement à la livraison ✦"
    }
  ]
}
{% endschema %}
