<section class="rich-text section">
  <div class="container">
    <div class="rich-text__content">
      {{ section.settings.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Texte enrichi",
  "settings": [
    {
      "type": "html",
      "id": "content",
      "label": "Contenu"
    }
  ],
  "presets": [{ "name": "Texte enrichi" }]
}
{% endschema %}
