<section class="trust-bar">
  <div class="container">
    {% render 'trust-badges' %}
  </div>
</section>

{% schema %}
{
  "name": "Barre confiance",
  "settings": [],
  "presets": [{ "name": "Barre confiance" }]
}
{% endschema %}
